body{
    width: 100%;
    background: url(/portfolio/gory2.png) no-repeat center center fixed ;
    background-color: #cccccc;
    background-size: cover;
}
header{
    display: flex;

    nav{
        width: 100vw;
        padding: 10px;
        font-size: 3rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}
a{
    text-decoration: none;
    color: rgb(87, 82, 82);
}
ul{
    display: flex;
}
li{
    list-style-type: none;
    display: inline;
    margin: 0 2vw;
    flex: 3;
}
a:hover{
    background-color: rgb(206, 199, 199);
}
@media(max-width:800px){
    ul{
        flex-direction: column;
    }
}
button{
    display: block;
    padding: 2vw;
    font-size: 3vh;
    background-color: #9aa0a3;
    border: none;
    outline: none;
    cursor: pointer;

}
section{
    justify-content: center;
    display: flex;
    div{
        height: 80vh;
        text-align: center;
        display: flex;
        border: 5px solid black;
        align-items: center
        ;

    }
.content{
    justify-content: space-between;
    padding: 50px;
}    
}
.logo{
    width: 50%;
    height: 25vh;
    justify-content: center;

}
.www{
    display: flex;
}